In [10]:
import numpy
import pandas

%matplotlib inline

In [14]:
df_1 = pandas.DataFrame(data = {
    'cobaia': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'antes': [635, 704, 662, 560, 603, 745, 698, 575, 633, 669],
    'depois': [640, 712, 681, 558, 610, 740, 707, 585, 635, 682]
})

df_1.head()

   cobaia  antes  depois
0       1    635     640
1       2    704     712
2       3    662     681
3       4    560     558
4       5    603     610

### Definições:

- `ttest_1samp` One-Sample T-test
- `ttest_ind` Two-sample T-test
- `ttest_rel` Paired T-Test
- `f_oneway` ANOVA

In [15]:
stats.ttest_rel(df_1.antes, df_1.depois)

Ttest_relResult(statistic=-2.9634874834417855, pvalue=0.015869370149628075)